/** @format */

@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    width: 100%;
    background: #1b2a41;
    position: relative;
    font-family: 'roboto', sans-serif;
    overflow: hidden;
    text-align: center;
}
div {
    font-family: 'Share Tech Mono', monospace;
}

span.glow {
    color: #c08552;
    font-size: 30px;
    font-weight: bolder;
}

span.hide {
    color: #1b2a41;
    font-size: 30px;
    font-weight: bolder;
}

a {
    color: #ccc9dc;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #container {
        width: 300px;
        margin: auto;
        margin-top: 10px;
        color: #ccc9dc;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #container {
        width: 600px;
        margin: auto;
        margin-top: 300px;
        color: #ccc9dc;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #container {
        width: 768px;
        margin: auto;
        margin-top: 380px;
        color: #ccc9dc;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #container {
        width: 992px;
        margin: auto;
        margin-top: 470px;
        color: #ccc9dc;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #container {
        width: 1024px;
        margin: auto;
        margin-top: 500px;
        color: #ccc9dc;
    }
}
